.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 25px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 940px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 430px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(0, 75, 90, 0.88);
  opacity: 1;
  top: 0px;

}

.logo {
  width: 155px;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  float: left;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  background-image: url('../imgs/logo_final_white.png');background-position: left;background-repeat: no-repeat; margin-top:-20px;height:60px;>

  }
  


.logo:hover{

	background-image: url('../imgs/logo_final_yellow.png');
	background-position: left;
	background-repeat: no-repeat;

	
	
}

a:hover{
color: rgb(191,134,20);
}


@media only screen and (max-width: 940px) {
  .logo {
    float: left;
  }
}

nav {
  float: left;
  width: auto;
}
@media only screen and (max-width: 940px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 940px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-right: 18px;
  line-height: 1.5;
}
@media only screen and (max-width: 940px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  border:none;
}

nav ul a:hover {
  color: rgb(191,134,20);
}


.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 940px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #fff;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 6%;
}

.row-top {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}



* {
  box-sizing: border-box;
}

body {
  color: #252525;
  background: #F5F6F3;
  font-family: Tahoma,Arial,Helvetica,sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: rgb(0,97,122); 
    -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;

}


h1 {
  padding-top: 65px;
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #005d6f;
}

h2 {

  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #005d6f;
}

h3{
  margin-top: 15px;
  font-size: 15px;
  line-height: 2.1;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #005d6f;}

p {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 1.6;
  text-align: justify;
}

strong{
	font-weight: bold;
}

.content {
  padding: 0px 6% 1px 6%;
  background: white;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;

}

.hero {
  position: relative;
  background: url('../imgs/collage.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 160px;
  min-height: 600px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}

.container{

  background: rgba(208,208,208,.77);
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-width: 550px;
  padding-bottom: 20px;
  border-radius: 7px;


}


.hero h1 span {
  font-size: 25px;
  color: #368ca2;
  border-bottom: 2px solid #005d6f;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #005d6f;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.footer{
	background: #F5F6F3;
	color:#252525;
	text-align: center;
	margin-bottom: 50px;
}

.backtop{
	padding: 15px;
	border-radius: 50%;
	position: fixed;
	right: 14px;
	top: 49%;
	z-index: 1000;
	background: none;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.5s;
	opacity: 0;
	border: 1px solid gainsboro;
	font-weight: bold;
	
}

.backtop:hover{
	background:rgb(208,208,208);
	-webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}



.sticky2 {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  
}

a .backtop{
color: #005d6f; 
}

	/*Ordered Lists */
ol{
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	padding: 0;
	margin-bottom: 0em;
	}

ol ol{
	margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rounded-list li{
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	*padding: .4em;
	margin: .5em 0 .5em 1em;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;	
	line-height: 1.6;
	text-align: left;
	margin-right: 40px;
	font-size: 15px;
}

.rounded-list li:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #2ba6cb;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	border-radius: 2em;
	transition: all .3s ease-out;
	color:#fff;
}

.rounded-list2 li{
	position: relative;
	display: block;
	padding: .1em .1em .1em 1em;
	*padding: .4em;
	margin: .2em 0 .2em 1em;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;	
	line-height: 1.6;
	text-align: left;
	font-size: 15px;
}

.rounded-list2 li:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #005d6f;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	border-radius: 2em;
	transition: all .3s ease-out;
	color:#005d6f;
	font-size: 5px;
	
}

.green li:before{
background-color: #005d6f;  /* The green color. Add class ".success" to the ol element like <ol class="rounded-list success">*/
}


.caption-long{

margin: 0 auto;
  width: 400px;
  position: relative;
  text-align: justify;
  line-height: 1.6;
  font-size: 12px;
  margin-bottom: 10px;
  max-width: 100%;
}

.caption-short{

margin: 0 auto;
  width: 400px;
  position: relative;
  text-align: center;
  line-height: 1.6;
  font-size: 12px;
  margin-bottom: 10px;
  max-width: 100%;
}

.caption-full-short{

margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  line-height: 1.6;
  font-size: 12px;
  margin-bottom: 10px;
  max-width: 100%;
}

.button{

width:auto;
max-width: 220px;
text-align: center;
height:auto;
padding:25px;
border-radius: 9px;
background: rgba(0,75,90,.88);
color:#fff;
margin-top: 20px;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
border: solid 2px white;
}

.button-month{

width:auto;
max-width: 150px;
text-align: center;
height:auto;
border-radius: 20px;
background: rgba(0,75,90,.88);
color:#fff;
border:5px solid #fff;

}

.button:hover{
opacity: .8;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.image-footer {
	width:33%;
	float:left;
	height:auto;
	
}

.table-class{

line-height:1.6;
list-style: square;


}

.table-class li{

padding-top: 10px;
padding-bottom: 10px;
margin-right: 0px;

}


.list-class{

line-height: 1.6;
list-style: square;
margin-left: 37px;
margin-bottom: 8px;

}

.button-big{

width:auto;
max-width: 220px;
min-height: 115px;
text-align: center;
height:auto;
padding:25px;
border-radius: 9px;
background: rgba(0,75,90,.88);
color:#fff;
margin-top: 20px;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
border:2px solid white;
}

.button-big:hover{

opacity: .8;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.image-footer img:hover{
opacity: .5;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;

}

.important{
color: rgb(181,22,33);
}

table.gridtable {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 15px;
	color:#333333;
	border-width: 1px;
	border-color: #ccc;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top: 10px;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ccc;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ccc;
	background-color: #ffffff;
}

.classhover:hover{
opacity: .7;
cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

/* In-progress styles */
.todo {
    background-color: #FFFF00;
}
.mauricio {
    background-color: #E8ADAA;
}

.important{
	color:rgb(181,22,33);
}

@media print {
    body {
        background-image: none;
    }
    tr {
        page-break-inside: avoid;
    }
    h1,h2,h3,p,a,a:visited{
    color:black;}
    nav{
    display:none;
    }
    h1{
    font-size:30px;
    }
    h2{
    font-size: 20px;
    }
    .content{
    border:none;}
    .hero{
    display:none;
    }
    
    
}
.ml{
margin-left: 20px;
}

